#migrationtitle {
    position: fixed;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    margin-left: 25%;
    margin-top: 1%;
    padding: 10px 20px;
}

#migrationsubtitle {
    position: fixed;
    text-align: left;
    font-size: 14px;
    margin-left: 25%;
    margin-top: 4%;
    padding: 10px 20px;
}

#migrationcon0 {
    position: fixed;
    text-align: left;
    font-weight: bold;
    margin-left: 25%;
    margin-top:  8%;
    padding: 10px 20px;
}

#migrationcon1 {
    position: fixed;
    text-align: left;
    margin-left: 25%;
    margin-top:  10%;
    height: 30%;
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #ddd;
}

#migrationcon2 {
    position: fixed;
    text-align: left;
    margin-left: 25%;
    margin-top:  28%;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #eee;
}

#migration-btn {
    position: sticky;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 25px;
    height: 100px;
    width: 105px;
    background-color: #1abc9c;
}

.fa-aws, .fa-gitlab, .fa-jenkins, .fa-docker, .fa-angular, .fa-java, .fa-cloud, .fa-slack,
.fa-clone, .fa-undo-alt, .fa-cube {
    font-size: 50px;
    color: white;
}

.fa-angle-double-right {
    font-size: 50px;
    color: black;
}

#migration-text {
    padding-left: 39%;

}